*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 100px;
    grid-template-areas: 
    "item1 item2"
    "item3 item4"
    ;
}
.item-1{
    background-color: antiquewhite;
    grid-area: "item1";
}
.item-2{
    background-color: lightcoral;
    grid-area: "item2";
}
.item-3{
    background-color: lightblue;
    grid-area: "item3";
}
.item-4{
    background-color: rgb(91, 62, 25);
    grid-area: "item4";
}